# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (개인 설정은 Git에 포함 안 되게)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Android Studio build artifacts
android/.gradle/
android/app/build/
android/app/google-services.json

# iOS Firebase 설정 파일
ios/Runner/GoogleService-Info.plist

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
